html,body{
    background: #eceef1;
    height: 100%;
    margin: 0;
}
.container-fluid{

  background: #eceef1;
}

.full-height-row {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .scrollable-column {
    flex: 1;
    overflow-y: auto;
  }

  .fixed-bottom-column {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Adjust the background color as needed */
    z-index: 1000; /* Ensure it's above other content */
  }
  .signature_cont{
    position: relative;
    width:100%;
  }
  .wrapper_signature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  @media (min-width: 481px) {
    .full-height-row {
      flex-direction: row;
    }
    .signature_cont{
      width:75%;
    }
    .fixed-bottom-column {
      position: static; /* Unfix the column on larger screens */
      width: 50%; /* Adjust the width as needed */
      background-color: transparent; /* Remove background color on larger screens */
      z-index: auto; /* Reset z-index on larger screens */
    }
  }
.m-cont{
    background:#323639;
}

/* SIGNATURE CSS */

#signature-canvas {
    border: 2px solid #cbd0d5;
    border-top: none;
    border-left: none;
    background: white;
    width: 100%;
  }
  
  .signature-btn {
    font-family: sans-serif;
    position: absolute;
    padding: 9px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background: #eceef1;
    color: #313440;
    -webkit-appearance: none;
    border: none;
    filter: alpha(opacity=50);
    opacity: 0.5;
    line-height: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }
  .signature-btn.clear-signature-btn {
    top: 10px;
    left: 15px;
  }
  .signature-btn.undo-signature-btn {
    top: 10px;
    left: 85px;
  }
  .clear-signature-btn:hover,
  .undo-signature-btn:hover {
    background: #101010;
    color: white;
  }
  .signature-btn.add-signature-btn {
    top: 10px;
    right: 15px;
    border: 2px solid #cbd0d5;
    border-top: 1px solid #cbd0d5;
    border-left: 1px solid #cbd0d5;
  }
  .add-signature-btn:hover {
    background: #09b609;
    opacity: 1;
    color: white;
    border: 2px solid #09b609;
    border-top: 1px solid #09b609;
    border-left: 1px solid #09b609;
  }